<%= javascript_include_tag :ckeditor %>
<%= simple_form_for([:admin, @company, @route], :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>
  <div id="post_form_container">
    <div class="main_attributes">
      <div class="inner">
        <%= f.input :title %>
        <%= f.ckeditor :summary, :input_html => { :height => 300, :toolbar=>'Full', :swf_params => { :assetable_type => 'Admin', :assetable_id => current_admin.id } } %>
        <%= f.ckeditor :journey, :input_html => { :height => 300, :toolbar=>'Full', :swf_params => { :assetable_type => 'Admin', :assetable_id => current_admin.id } } %>
        <%= f.ckeditor :indemnify, :input_html => { :height => 300, :toolbar=>'Full', :swf_params => { :assetable_type => 'Admin', :assetable_id => current_admin.id } } %>
        <%= f.ckeditor :notice, :input_html => { :height => 300, :toolbar=>'Full', :swf_params => { :assetable_type => 'Admin', :assetable_id => current_admin.id } } %>
        <%= f.input :city %>
        <%= f.input :start_date %>
        <%= f.input :pcount %>
        <%= f.association :area %>
        <% if !@company.blank? %>
          <%= f.input :company_id, :as => :hidden, :input_html => { :value => @company.id } %>
        <% else -%>
          <%= f.association :company %>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="other_container">
    <%= f.input :cover, :required => true %>
    <% if @route.cover? %>
      <div class="cover_prview">
        <%= image_tag @route.cover.url %>
      </div>
    <% end -%>
  </div>  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end -%>