<%= content_for :page_header do -%>
  <% if ["index"].index(action_name) -%>
    <h1><%= @company.blank? ? "文章列表" : "#{@company.name}的文章列表" %></h1>
  <% end -%>
  <% if ["new", "create"].index(action_name) -%>
    <h1><%= @company.blank? ? "创建文章" : "创建#{@company.name}的文章" %></h1>
  <% end -%>
  <% if ["edit", "update"].index(action_name) -%>
    <h1><%= @company.blank? ? "修改文章" : "修改#{@company.name}的文章" %></h1>
  <% end -%>
<% end -%>
<%= content_for :sidebar do -%>
  <% if ["index"].index(action_name) -%> 
    <div class="button_to_add_new">
      <div class="button_layout">
        <% if @company.blank? %>
          <a href="<%= new_admin_article_path %>"><span>添加新的文章</span></a>
        <% else -%>
          <a href="<%= new_admin_company_article_path(@company) %>"><span>添加新的文章</span></a>
        <% end -%>
      </div>
    </div>      
  <% end -%>
  <% if ["new", "create", "edit", "update"].index(action_name) -%>
    <div class="mbox">
      <h3>小贴士</h3>
      <div class="indent">
        <p>标题必须小于255个字符。</p>
        <p>在简介中不能含有任何html标签，系统自动过滤。</p>
      </div>
    </div>
    <div class="mbox">
      <h3>站内导航</h3>
      <div class="indent">
        <p><a href="<%= !@company.blank? ? admin_company_articles_path(@company) : admin_articles_path %>">返回文章列表</a></p>
      </div>
    </div>
  <% end -%>
<% end -%>