<%= javascript_include_tag :ckeditor %>
<%= simple_form_for([:admin, @company, @article], :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>
  <div id="post_form_container">
    <div class="main_attributes">
      <div class="inner">
        <%= f.input :title %>
        <%= f.input :summary %>
        <%= f.ckeditor :body, :input_html => { :height => 300, :toolbar=>'Full' } %>
        <%= f.association :area %>
        <% if !@company.blank? %>
          <%= f.input :company_id, :as => :hidden, :input_html => { :value => @company.id } %>
        <% else -%>
          <%= f.association :company %>
        <% end -%>
        <%= f.input :status, :as => :hidden, :input_html => { :value => Article::STATE[:normal] } %>
        <% if admin_signed_in? %>
          <%= f.input :auther, :as => :hidden, :input_html => { :value => current_admin.login } %>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="other_container">
    <%= f.input :cover, :required => true %>
    <% if @article.cover? %>
      <div class="cover_prview">
        <%= image_tag @article.cover.url %>
      </div>
    <% end -%>
  </div>
  <div class="other_container">
    <%= f.input :pv %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end -%>