
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_messages %>
  <div id="post_form_container">
    <div class="main_attributes">
      <div class="inner">
        <%= f.input :login %>
        <%= f.input :email %>
        <%= f.input :password, :label => "新密码", :hint => "如果不修改密码请留空" %>
        <%= f.input :password_confirmation, :hint => "请保持与新密码一致" %>
        <%= f.input :current_password, :hint => "必须填写", :required => true %>
      </div>
    </div>
  </div>  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= content_for :sidebar do -%>
  <div class="mbox">
    <h3>小贴士</h3>
    <div class="indent">
      <p>修改用户名和邮箱必须填写旧密码！</p>
      <p>不修改密码请在新密码处留空！</p>
    </div>
  </div>
<% end -%>
<%= content_for :page_header do -%>
  <h1>修改用户信息</h1>
<% end -%>
