<li><a href="<%= admin_root_path %>"<%= raw(" class=\"current\"") if ["home"].index(controller_name) %> title="首页">Dashboard</a></li>
<li><a href="<%= admin_companies_path %>"<%= raw(" class=\"current\"") if ["companies"].index(controller_name) %> title="旅游公司管理">Company</a></li>
<li><a href="<%= admin_areas_path %>"<%= raw(" class=\"current\"") if ["areas"].index(controller_name) %> title="栏目管理">Area</a></li>