<div class="logo_and_banner clearfix">
  <h1 class="logo">
    <a href="<%= root_path %>" title="<%= Setting.site_name %>"><%= Setting.site_name %></a>
  </h1>
  <div class="header_banner">
    <%= image_tag "ad/630x90.jpg" %>
  </div>
</div>
<div class="navigation">
  <%= render "shared/navigation" %>
</div>