<ul class="clearfix">
  <% topics.each_with_index do |topic, index| -%>
    <li <%= raw "class=\"last\"" if (index + 1) % 3 == 0 %>>
      <a href="<%= topic_path(topic) %>" title="<%= topic.title %>" class="cover">
        <%= image_tag topic.cover(:small), :alt => topic.title, :class => "cover" %>
      </a>
      <a href="<%= topic_path(topic) %>" title="<%= topic.title %>" class="title"><%= truncate topic.title, :length => 14 %></a>
      <div class="exp_wrapper">
        <div class="exp">
          <span class="label">推荐指数：</span>
          <span class="star"><%= image_tag "common/star/#{topic.rec_num}.png", :alt => "#{topic.rec_num}星" %></span>
        </div>
        <div class="exp">
          <span class="label">人气指数：</span>
          <span class="star"><%= image_tag "common/star/#{topic.pop_num}.png", :alt => "#{topic.pop_num}星" %></span>
        </div>
      </div>
    </li>
  <% end -%>
</ul>
