<% title @area.name %>
<div class="area_wrapper clearfix">
  <div class="area_banner"><%= image_tag @area.ad(:normal) %></div>
  <div class="left">
    <div class="box">
      <div class="title_wrapper"><h3><%= @area.name %>专题</h3></div>
      <div class="topics_wrapper">        
        <%= render "topics", :topics => @topics %>            
        <div class="more">
          <a href="<%= area_topics_path(@area.slug) %>" title="查看更多的专题>>">查看更多的专题>></a>
        </div>
      </div>
    </div>
    <div class="box line10">
      <div class="title_wrapper"><h3><%= @area.name %>线路</h3></div>
      <div class="routes_wrapper">
        <%= render "routes", :routes => @routes %>
        <div class="more">
          <a href="<%= area_routes_path(@area.slug) %>" title="查看更多的线路>>">查看更多的线路>></a>
        </div>
      </div>
    </div>
    <div class="box line10">
      <div class="title_wrapper"><h3><%= @area.name %>游记攻略</h3></div>
      <div class="articles_wrapper">
        <%= render "articles", :articles => @articles %>
        <div class="more">
          <a href="<%= area_articles_path(@area.slug) %>" title="查看更多的攻略>>">查看更多的攻略>></a>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <%= render "/shared/sidebar", :areas => @areas, :topics => @recent_topics, :routes => @recent_routes, :articles => @recent_articles %>
  </div>
</div>
<% content_for :styles do -%>
  <%= stylesheet_link_tag "area" %>
<% end -%>