<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 TRANSITIONAL//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "reset", "wice_grid", "admin/application" %>
    <%= yield :styles %>
    <%= javascript_include_tag :admin %>
    <%= yield :scripts %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= "#{controller_name}_#{action_name}" %>">
    <div id="header">
      <h1><%= Setting.site_name %></h1>
      <div class="navigation">
        <div id="header_top_wrapper">
          <span class="email"><%= current_admin.email %></span>
          <span class="pipe">|</span>
          <a href="<%= edit_admin_registration_path %>">我的信息</a>
          <span class="pipe">|</span>
          <a href="<%= destroy_admin_session_path %>">Sign out</a>
        </div>
      </div>
      <div id="tabs">
        <ul id="main_tabs" class="clearfix"><%= render "shared/admin/nav" %></ul>
      </div>
    </div>
    <div id="wrapper">
      <div id="screen_body" class="container">
        <%= flash_messages %>
        <table class="layout">
          <tr>
            <td class="<%= content_for?(:sidebar) ? "left" : "full" %>">
              <div class="<%= content_for?(:sidebar) ? "left" : "full" %>">
                <div class="col">
                  <div class="page_header">
                    <%= yield :page_header %>
                  </div>
                  <div class="innercol">
                    <%= yield %>
                  </div>
                </div>
                <div class="bottom">&nbsp;</div>
                <div class="footer">ChinaBeiBao used development of <a href="http://www.rubyonrails.org" target="_blank">Rails <%= Rails.version %></a>.</div>
              </div>
            </td>
            <% if content_for?(:sidebar) -%>
              <td class="right">
                <div class="right">
                  <div class="col"><%= yield :sidebar %></div>
                </div>
              </td>
            <% end -%>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>